@page
@model Coursework.Web.Pages.Places.Create
@{
    ViewData["Title"] = "Добавить место";
}

<div class="cover create-bg">
  <div class="form-container">
    <div class="form-header">
      Добавление места
    </div>
    <div class="form-text">
      Если в системе еще нет знакомового вам места - добавьте его сами!
    </div>
    <form method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label>Район</label>
        <select name="districtId" class="custom-select" required>
          @foreach (var district in Model.Districts)
          {
            <option class="filters-option" value="@district.Id">@district.Name</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label>Тип</label>
        <select name="typeId" class="custom-select" required>
          @foreach (var type in Model.Types)
          {
            <option class="filters-option" value="@type.Id">@type.Name</option>
          }
        </select>
      </div>
      <div class="form-group">
        <label>Название</label>
        <input name="name" type="text" class="form-control" autocomplete="off" required>
      </div>
      <div class="form-group">
        <label>Описание</label>
        <textarea name="shortDescription" class="form-control" style="height: 102px;" required></textarea>
      </div>
      <div class="form-group">
        <label>Координаты</label>
        <input name="coordinates" type="text" class="form-control coordinates" autocomplete="off" required>
        <div class="add-map-btn" onclick="showMap();">Показать на карте</div>
        <div class="add-map" id="map"></div>
      </div>
      <div class="form-group">
        <div class="add-file">
          <input name="images" type="file" accept="image/*" id="img-input" class="img-input" required multiple>
          <label for="img-input" id="img-input-label">
            Добавить фото
          </label>
        </div>
      </div>
      <button type="submit" class="create-place-btn">Добавить</button>
    </form>
  </div>
</div>

<script>
ymaps.ready(init);
function init(){
    let myMap = new ymaps.Map("map", {
        center: [55.79717499, 49.10240174],
        zoom: 11
    });

    myMap.events.add('click', function (e) {
        let coords = String(e.get("coords"));
        document.getElementsByClassName("coordinates")[0].value = coords.split(',')[0] + " " + coords.split(',')[1];
    });
}

function showMap(){
    document.getElementsByClassName("add-map")[0].style.display = "block";
}
</script>